body, div, a, ul, li, ol, span, p, em, var, h1, h2, h3, dl, dd, dt, strong, form, input, table, td, tr, th, textarea, cite, img, h1, h2, h3, h4, h5, button {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
  padding: 0;
  margin: 0;
}
ul, ol, li { list-style-type: none; }
a { text-decoration: none; color: #333; }
a img { border: 0 none; }
em, var, cite, i { font-style: normal; }
input[type="text"], input[type="tel"], input[type="password"], textarea, input[type="number"], input[type="search"] {
  outline: none;
  -webkit-appearance: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*去掉input[type="number"]里面的小箭头*/
input[type='number'] { -moz-appearance: textfield; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; }
.cl:after { content: ""; display: block; font-size: 0; height: 0; clear: both; visibility: hidden; }
.cl { zoom: 1; }
.fl{ float: left; }
.fr{ float: right; }
img { max-width: 100%; }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, #app, .main { font-size: 0.875rem; min-height: 100%;}
html, body { background: #f5f5f5; overflow-x: hidden }
input::placeholder { color: #bbb; }
input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.a999 { color: #999;}
.a666 { color: #666; }
.a333 { color: #333;}
.af00 { color: #f00;}
.af90 { color: #f90;}
.af60 { color: #f60;}
.agreen{ color: #00cc33;}
.ac00 { color: #981010; }
.bgray { background: #eee;}
.f10 { font-size: 0.625rem;}
.f12 { font-size: 0.75rem;}
.f13 { font-size: 0.8125rem;}
.f14 { font-size: 0.875rem; }
.f16 { font-size: 1rem; }
.f18 { font-size: 1.125rem; }
.f20 { font-size: 1.25rem; }
.line10 {width: 20rem;height: 0.625rem;background: #f7f7f7;overflow: hidden
}
.line1_white {width: 20rem;height: 1rem;background: #fff;overflow: hidden}

.css3out {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

#app {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

/*font*/
@font-face {
  font-family: 'iconFont';  /* project id 447369 */
  src: url('//at.alicdn.com/t/font_447369_yei0cv0st9be29.eot');
  src: url('//at.alicdn.com/t/font_447369_yei0cv0st9be29.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_447369_yei0cv0st9be29.woff') format('woff'),
  url('//at.alicdn.com/t/font_447369_yei0cv0st9be29.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_447369_yei0cv0st9be29.svg#iconFont') format('svg');
}
.iconFont {
  font-family: "iconFont";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  -webkit-text-stroke-width: 0.1px;
}
.submitLine{padding: 1rem;}
.submit{background: -webkit-linear-gradient(left bottom, #f90 , #f60);  color: #fff;  width: 100%;  border-radius: 2.4rem;  border: none;  height: 2.4rem;  font-size: 0.875rem;}

/*footer*/
footer { width: 20rem; height: 2.8rem; clear: both;}
.footer { width: 20rem; height: 2.8rem; background: #fcfcfc; border-top: 1px #ededed solid; position: fixed; bottom: 0; z-index: 9; box-shadow: 0 2px 9px #ccc;}
.footer ul { width: auto; height: 2.8rem; display: -webkit-box; display: -moz-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex;  }
.footer ul li{ flex: 1; text-align: center; line-height: 2.8rem; font-size: 0.75rem; }
.footer ul li a { display: block;}
.footer ul li a i.iconFont { width: 1.4rem; height: 1.4rem; line-height: 1.4rem; text-align: center; font-size: 1.1rem; margin: 0.25rem auto 0; display: block; color: #333;}
.footer ul li a p{ line-height: 1rem; text-align: center; }
.footer ul li a.on,.footer ul li a.on i.iconFont{color: #f60;}

/*header*/
header { width: 20rem; height: 2.5rem;}
.header { width: 20rem; height: 2.5rem; background: #fff; border-bottom: 1px #ededed solid; position: relative; padding: 0 2.5rem; }
.header .back_btn { width: 2.5rem; height: 2.5rem; font-size: 0.75rem; line-height: 2.5rem; text-align: center; position: absolute; left: 0; top: 0; color: #666;  }
.header .center { font-size: 0.875rem; color: #333; text-align: center; line-height: 2.5rem; }
.header .right_btn { width: auto; height: 2.5rem; padding: 0 0.5rem; font-size: 0.75rem; color: #666; text-align: center; line-height: 2.5rem; position: absolute; top: 0; right: 0; }

