body, div, a, ul, li, ol, span, p, em, var, h1, h2, h3, dl, dd, dt, strong, form, input, table, td, tr, th, textarea, cite, img, h1, h2, h3, h4, h5, button {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
  padding: 0;
  margin: 0;
}
ul, ol, li { list-style-type: none; }
a { text-decoration: none; color: #333; }
a img { border: 0 none; }
em, var, cite, i { font-style: normal; }
input[type="text"], input[type="tel"], input[type="password"], textarea, input[type="number"], input[type="search"] {
  outline: none;
  -webkit-appearance: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*去掉input[type="number"]里面的小箭头*/
input[type='number'] { -moz-appearance: textfield; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; }
.cl:after { content: ""; display: block; font-size: 0; height: 0; clear: both; visibility: hidden; }
.cl { zoom: 1; }
.fl{ float: left; }
.fr{ float: right; }
img { max-width: 100%; }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, #app, .main { font-size: 0.875rem;}
html{ height: 100%;}
body { background: #f5f5f5; overflow-x: hidden }
body.white{ height: 100%; background: #fff;}
input::placeholder { color: #bbb; }
input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.a999 { color: #999;}
.a666 { color: #666; }
.a333 { color: #333;}
.af00 { color: #f00;}
.af90 { color: #f90;}
.af60 { color: #f60;}
.agreen{ color: #00cc33;}
.ac00 { color: #981010; }
.bgray { background: #eee;}
.f10 { font-size: 0.625rem;}
.f12 { font-size: 0.75rem;}
.f13 { font-size: 0.8125rem;}
.f14 { font-size: 0.875rem; }
.f16 { font-size: 1rem; }
.f18 { font-size: 1.125rem; }
.f20 { font-size: 1.25rem; }
.line10 {width: 20rem;height: 0.625rem;background: #f7f7f7;overflow: hidden
}
.line1_white {width: 20rem;height: 1rem;background: #fff;overflow: hidden}

.css3out {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

#app {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

/*font*/
@font-face {
  font-family: 'iconFont';  /* project id 447369 */
  src: url('//at.alicdn.com/t/font_447369_yei0cv0st9be29.eot');
  src: url('//at.alicdn.com/t/font_447369_yei0cv0st9be29.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_447369_yei0cv0st9be29.woff') format('woff'),
  url('//at.alicdn.com/t/font_447369_yei0cv0st9be29.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_447369_yei0cv0st9be29.svg#iconFont') format('svg');
}
.iconFont {
  font-family: "iconFont";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  -webkit-text-stroke-width: 0.1px;
}
.submitLine{padding: 1rem;}
.submit{background: -webkit-linear-gradient(left bottom, #f90 , #f60); outline: none; color: #fff;  width: 100%;  border-radius: 2.4rem;  border: none;  height: 2.4rem;  font-size: 0.875rem;}

/*footer*/
footer { width: 20rem; height: 2.8rem; clear: both;}
.footer { width: 20rem; height: 2.8rem; background: #fcfcfc; border-top: 1px #ededed solid; position: fixed; bottom: 0; z-index: 9; box-shadow: 0 2px 9px #ccc;}
.footer ul { width: auto; height: 2.8rem; display: -webkit-box; display: -moz-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex;  }
.footer ul li{ flex: 1; text-align: center; line-height: 2.8rem; font-size: 0.75rem; }
.footer ul li a { display: block;}
.footer ul li a i.iconFont { width: 1.4rem; height: 1.4rem; line-height: 1.4rem; text-align: center; font-size: 1.1rem; margin: 0.25rem auto 0; display: block; color: #333;}
.footer ul li a p{ line-height: 1rem; text-align: center; }
.footer ul li a.on,.footer ul li a.on i.iconFont{color: #f60;}

/*header*/
header { width: 20rem; height: 2.5rem;}
.header { width: 20rem; height: 2.5rem; background: #fff; border-bottom: 1px #ededed solid; position: fixed; padding: 0 2.5rem; top: 0; left: 0; z-index: 10000;}
.header .back_btn { width: 2.5rem; height: 2.5rem; font-size: 0.75rem; line-height: 2.5rem; text-align: center; position: absolute; left: 0; top: 0; color: #666;  }
.header .center { font-size: 0.875rem; color: #333; text-align: center; line-height: 2.5rem; }
.header .right_btn { width: auto; height: 2.5rem; padding: 0 0.5rem; font-size: 0.75rem; color: #666; text-align: center; line-height: 2.5rem; position: absolute; top: 0; right: 0; }

/*暂无记录*/
.empty{ width: 20rem; height: 6.38rem; line-height: 1.5rem; font-size: 0.75rem; text-align: center; margin-top: 5rem; padding-top: 4.88rem; background: url(../images/empty_icon.png) no-repeat center top; background-size: 4.88rem;}
.empty.card{background-image: url(../images/empty_icon_card.png)}
.toScoresBtn{ width: 10rem; height: 2rem; border:1px solid #f60; color: #f60; text-align: center; line-height: 1.9rem; display: block; border-radius: 1.1rem; margin: 1.5rem auto 0;}

/*loader*/
.loader_wrap{width: 1.7rem; height: 1.7rem; position: relative; overflow: hidden; display: inline-block; vertical-align: middle; margin-right: 0.2rem;}
.loader_wrap .loader { display: block; text-indent: -9999em; overflow: hidden; width: 0.85rem; height: 0.85rem; opacity: 0.6; border-radius: 50%; position: relative; top: 0.5rem; left: 0.5rem; -webkit-animation: load6 1.7s infinite ease; animation: load6 1.7s infinite ease;  }
@-webkit-keyframes load6 {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); box-shadow: -0.11em -0.83em 0 -0.4em #999, -0.11em -0.83em 0 -0.42em #999, -0.11em -0.83em 0 -0.44em #999, -0.11em -0.83em 0 -0.46em #999, -0.11em -0.83em 0 -0.477em #999; }
  5%,95% { box-shadow: -0.11em -0.83em 0 -0.4em #999, -0.11em -0.83em 0 -0.42em #999, -0.11em -0.83em 0 -0.44em #999, -0.11em -0.83em 0 -0.46em #999, -0.11em -0.83em 0 -0.477em #999;  }
  30%{ box-shadow: -0.11em -0.83em 0 -0.4em #999, -0.51em -0.66em 0 -0.42em #999, -0.75em -0.36em 0 -0.44em #999, -0.83em -0.03em 0 -0.46em #999, -0.81em 0.21em 0 -0.477em #999;  }
  55% { box-shadow: -0.11em -0.83em 0 -0.4em #999, -0.29em -0.78em 0 -0.42em #999, -0.43em -0.72em 0 -0.44em #999, -0.52em -0.65em 0 -0.46em #999, -0.57em -0.61em 0 -0.477em #999;  }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); box-shadow: -0.11em -0.83em 0 -0.4em #999, -0.11em -0.83em 0 -0.42em #999, -0.11em -0.83em 0 -0.44em #999, -0.11em -0.83em 0 -0.46em #999, -0.11em -0.83em 0 -0.477em #999; }
}
@keyframes load6 {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); box-shadow: -0.11em -0.83em 0 -0.4em #999, -0.11em -0.83em 0 -0.42em #999, -0.11em -0.83em 0 -0.44em #999, -0.11em -0.83em 0 -0.46em #999, -0.11em -0.83em 0 -0.477em #999; }
  5%,
  95% { box-shadow: -0.11em -0.83em 0 -0.4em #999, -0.11em -0.83em 0 -0.42em #999, -0.11em -0.83em 0 -0.44em #999, -0.11em -0.83em 0 -0.46em #999, -0.11em -0.83em 0 -0.477em #999; }
  30% { box-shadow: -0.11em -0.83em 0 -0.4em #999, -0.51em -0.66em 0 -0.42em #999, -0.75em -0.36em 0 -0.44em #999, -0.83em -0.03em 0 -0.46em #999, -0.81em 0.21em 0 -0.477em #999; }
  55% { box-shadow: -0.11em -0.83em 0 -0.4em #999, -0.29em -0.78em 0 -0.42em #999, -0.43em -0.72em 0 -0.44em #999, -0.52em -0.65em 0 -0.46em #999, -0.57em -0.61em 0 -0.477em #999; }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); box-shadow: -0.11em -0.83em 0 -0.4em #999, -0.11em -0.83em 0 -0.42em #999, -0.11em -0.83em 0 -0.44em #999, -0.11em -0.83em 0 -0.46em #999, -0.11em -0.83em 0 -0.477em #999; }
}

/*switch*/
.iSwitch{ position: relative; display: inline-block; width: 3.2rem; height: 1.6rem; border-radius: 1.6rem; background: #dcdcdc; overflow: hidden; vertical-align: middle;}
.iSwitch input{ visibility: hidden; }
.iSwitch i{ position: absolute; top: 0; left: 0; display: inline-block; width: 1.6rem; height: 100%; border-radius: 100%; background: #fff; }
.iSwitch i::before{ content: ""; display: none; width: 3.2rem; height: 1.6rem; border-radius: 25%; background: #78e88b; }
.iSwitch i::after{content: ""; position: absolute; left: 0; top: 0; z-index: 2; display: inline-block; width: 1.6rem; height: 1.6rem; border-radius: 100%; background: #fff;}
.iSwitch input:checked + i{ transform:translateX(100%); -webkit-transform:translateX(100%); }
.iSwitch input:checked + i:before{ display: inline-block; transform:translateX(-50%); -webkit-transform:translateX(-50%); }

/*radio*/
.radioLabel{width: auto; margin-right: 0.3125rem;}
.radioLabel input[type=radio]{width: 0.8rem; height: 0.8rem; margin-right: 0.2rem; outline: none; border:0.125rem solid #f60; border-radius: 0.4rem; vertical-align: middle; display: inline-block;}
.radioLabel input[type=radio]:checked{background: #f60;}
